.root-footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    min-width: 50%;
    max-width: 80%;

    .social-section {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__title {
            font-size: max(1vw, 20px);
            color: var(--sdg-color-2);
            margin-bottom: 25px;
        }

        &__social {
            display: flex;
            gap: 15px;

            &-icon {
                display: flex;
                place-items: center;
                place-content: center;
                width: 50px;
                height: 55px;
                clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
                transition: all 0.3s ease;

                &:hover {
                    transform: scale(1.2);
                    cursor: pointer;
                }
            }
        }
    }

    .contact-section {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__title {
            font-size: max(1vw, 20px);
            color: var(--sdg-color-2);
            margin-bottom: 25px;
        }

        &__form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;

            textarea {
                height: 200px;
                resize: none;
            }

            &-btn-submit {
                width: 100px;
                font-size: 18px;
                align-self: center;

                mat-spinner {
                    width: 25px !important; 
                    height: 25px !important;
                }
            }
        }
    }
}

.snackbar-sended-email {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

@media all and (max-width: 800px) {
    .root-footer {
        width: 80%;
        flex-direction: column;
    }
}