<footer class="root-footer">
  <section class="social-section">
    <div class="social-section__title">STAY CONNECTED</div>
    @for (socialRow of (socialRows | keyvalue : originalKeyValueOrder); track socialRow) {
      <div class="social-section__social">
        @for (social of socialRow.value; track social) {
          <a class="social-section__social-icon" target="_blank" [href]="social.socialUrl">
            <img [src]="social.iconUrl" [alt]="social.name" [width]="60" [draggable]="false">
          </a>
          }
        </div>
      }
    </section>
    <section class="contact-section">
      <div class="contact-section__title">Contact me!</div>
      @if (contactFormGroup.controls; as controls) {
        <form #contactForm="ngForm" class="contact-section__form" [formGroup]="contactFormGroup" (ngSubmit)="submitForm()">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" placeholder="Name" required>
              @if (controls.name.hasError('required')) {
                <mat-error>Name field is required</mat-error>
              }
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input type="email" matInput formControlName="userEmail" placeholder="Email" required>
                @if (controls.userEmail.hasError('required')) {
                  <mat-error>Email field is required</mat-error>
                }
                @if (controls.userEmail.hasError('email')) {
                  <mat-error>Not a valid email</mat-error>
                }
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Text</mat-label>
                <textarea matInput formControlName="text" placeholder="Text" required></textarea>
                @if (controls.text.hasError('required')) {
                  <mat-error>Text field is required</mat-error>
                }
              </mat-form-field>
              <button class="contact-section__form-btn-submit" color="primary" mat-raised-button type="submit" [disabled]="contactFormGroup.invalid || disableBtnSendEmail">
                @if (!disableBtnSendEmail) {
                  Send
                } @else {
                  <mat-spinner></mat-spinner>
                }
              </button>
            </form>
          }
        </section>
      </footer>
      <ng-template #emailSendSuccesfully>
        <div class="snackbar-sended-email">
          <span>Email sent successfully!</span>
          <button mat-icon-button (click)="matSnackBarRef?.dismiss()">
            <span class="material-symbols-outlined">close</span>
          </button>
        </div>
      </ng-template>
      <ng-template #emailNotSend>
        <div class="snackbar-sended-email">
          <span>Oops...something went wrong, try again in a few minutes</span>
          <button mat-icon-button (click)="matSnackBarRef?.dismiss()">
            <span class="material-symbols-outlined">close</span>
          </button>
        </div>
      </ng-template>