body.sdg-theme-light {
    --sdg-color-1: #f3f1f3;
    --sdg-color-1-rgb: 243, 241, 243;
    --sdg-color-2: #373540;
    --sdg-color-2-rgb: 55, 53, 64;
    --sdg-color-3: #325e89;
    --sdg-color-4: #2276d5;
}

body.sdg-theme-dark {
    --sdg-color-1: #1e1d21;
    --sdg-color-1-rgb: 30, 29, 33;
    --sdg-color-2: #fdfffa;
    --sdg-color-2-rgb: 253, 255, 250;
    --sdg-color-3: #b0c6e7;
    --sdg-color-4: #2276d5;
}