<header class="sdg-header">
    <div class="sdg-header__home">
        <button mat-icon-button matTooltip="Home" routerLink="home"><span class="material-symbols-outlined">code</span></button>
    </div>
    <div class="sdg-header__actions">
        <button mat-icon-button matTooltip="Skills" routerLink="skills"><span class="material-symbols-outlined">verified</span></button>
        <button mat-icon-button matTooltip="Esperienze lavorative"><span class="material-symbols-outlined">business_center</span></button>
        <button mat-icon-button matTooltip="Contatti"><span class="material-symbols-outlined">help</span></button>
    </div>
    <div class="sdg-header__toggle-theme" *ngIf="themeService.onThemeChanged | async as currentTheme">
        <label class="sdg-header__toggle-theme-switch" [matTooltip]="currentTheme === themeService.typeTheme.SDG_THEME_LIGHT ? 'Passa al tema scuro' : 'Passa al tema chiaro'">
            <input class="toggle-checkbox" type="checkbox" [ngModel]="(currentTheme === themeService.typeTheme.SDG_THEME_LIGHT) ? true : false" (ngModelChange)="themeService.onToggleTheme()">
            <span class="toggle-slider"></span>
        </label>
    </div>
</header>
