:host {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 150px);
}

.sdg-about {
  height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 0.8;
  gap: 20px;
  z-index: 1;

  &__info {
    flex: 1 1 auto;
    display: grid;
    grid-template-areas: "profile title" "profile sub-title";
    align-items: center;
    align-content: center;
    justify-content: center;
    column-gap: 20px;

    &-profile {
      grid-area: profile;
      --dimension-profile: 20vw;
      width: var(--dimension-profile);
      height: var(--dimension-profile);
      filter: drop-shadow(0 0 1px var(--sdg-color-2));
      border-radius: 100%;
    }

    &-title {
      grid-area: title;
      font-size: 7vw;
      transition: color 200ms linear;
      animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
      color: var(--sdg-color-2);
    }

    &-sub-title {
      grid-area: sub-title;
      font-size: 3vw;
      letter-spacing: 2.2px;
      animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
      color: var(--sdg-color-4);
      transition: color 200ms linear;
    }
  }

  &__action {
    display: flex;
    flex-direction: column;
    align-items: center;

    .container-button {
      animation: spaceInUp 1.5s;


      &:hover {
        cursor: pointer;
      }

      .mouse-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 40px;
        border: 2px solid var(--sdg-color-3);
        border-radius: 20px;
      }

      .mouse-scroll {
        width: 10px;
        height: 10px;
        background-color: var(--sdg-color-3);
        border-radius: 50%;
        animation: scrolling 1s linear infinite;
      }
    }

  }
}

@media all and (max-width: 800px) {
  .sdg-about {
    &__info {
      grid-template-areas: "profile profile" "title title" "sub-title sub-title";
      gap: 20px;
      text-align: center;
      padding-bottom: 100px;

      &-profile {
        --dimension-profile: 200px;
        justify-self: center;
      }
    }
  }
}