<div class="sdg-about">
  <div class="sdg-about__info">
    <img class="sdg-about__info-profile" src="/assets/about/profile.png" loading="lazy">
    <div class="sdg-about__info-title">SALVATORE DI GENUA</div>
    <div class="sdg-about__info-sub-title">WEB DEVELOPER</div>
  </div>

  <div class="sdg-about__action">
    <div class="container-button" (click)="utilityService.scrollToElement('skills')">
      <span class="mouse-btn">
        <span class="mouse-scroll"></span>
      </span>
    </div>
  </div>
</div>