@use '@angular/material' as mat;
@include mat.core();

mat.$theme-ignore-duplication-warnings: true;

$portfolio-warn: mat.m2-define-palette(mat.$m2-red-palette);
$portfolio-typography: mat.m2-define-typography-config($font-family: 'Poppins');

body.sdg-theme-light {
  $sdg-light-colors: (
    50: #d9e4ed,
    100: #b4c9db,
    200: #8eaed0,
    300: #6892c4,
    400: #4c7db5,
    500: #325e89,
    600: #2e5480,
    700: #294975,
    800: #24406b,
    900: #1a3060,
    A100: #8cb7ff,
    A200: #5984ff,
    A400: #2652ff,
    A700: #334eff,
    contrast: (
      50 : #192c40,
      100 : #192c40,
      200 : #192c40,
      300 : #192c40,
      400 : #192c40,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #192c40,
      A200 : #192c40,
      A400 : #192c40,
      A700 : #192c40,
    )
  );
  $portfolio-primary-light: mat.m2-define-palette($sdg-light-colors, 500);
  $portfolio-accent-light: mat.m2-define-palette($sdg-light-colors, A200, A100, A400);
  $portfolio-theme-light: mat.m2-define-light-theme((
    color: (
      primary: $portfolio-primary-light,
      accent: $portfolio-accent-light,
      warn: $portfolio-warn,
    ),
    typography: $portfolio-typography
  ));

  @include mat.all-component-themes($portfolio-theme-light);
}


body.sdg-theme-dark {
  $sdg-dark-colors: (
    50: #e6effa,
    100: #c3d6f3,
    200: #9fbdebec,
    300: #7ba4e4,
    400: #5b8cd4,
    500 : #3b74c3,
    600: #3469b8,
    700: #2c5dab,
    800: #25529f,
    900: #1a4090,
    A100: #b4c4ff,
    A200: #819bff,
    A400: #4e6dff,
    A700: #334eff,
    contrast: (
      50 : #192c40,
      100 : #192c40,
      200 : #192c40,
      300 : #192c40,
      400 : #192c40,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #192c40,
      A200 : #192c40,
      A400 : #192c40,
      A700 : #192c40,
    )
  );
  $portfolio-primary-dark: mat.m2-define-palette($sdg-dark-colors, 500);
  $portfolio-accent-dark: mat.m2-define-palette($sdg-dark-colors, A200, A100, A400);
  $portfolio-theme-dark: mat.m2-define-dark-theme((
    color: (
      primary: $portfolio-primary-dark,
      accent: $portfolio-accent-dark,
      warn: $portfolio-warn,
    ),
    typography: $portfolio-typography
  ));
  
  
  @include mat.all-component-themes($portfolio-theme-dark);
}