<div class="root-experience">
  <div class="root-experience__title">Professional Experience</div>
  @if ((experience$ | async); as experiences) {
    @for (experience of experiences; track experience) {
      <details class="experience-details" tabindex="-1">
        <summary class="experience-details__summary">
          <span class="experience-details__summary-work">
            <img class="experience-company-favicon" [src]="experience.faviconUrl" alt="company-favicon">
              <span class="experience-employment">{{experience.employment}}</span>
              <a class="experience-site-url" [href]="experience.siteUrl" target="_blank">{{experience.company}}</a>
            </span>
            <span class="experience-details__summary-time">{{experience.permanence}}</span>
            <span class="material-symbols-outlined experience-details__status">arrow_back_ios</span>
          </summary>
          <div class="experience-details__description">
            <div class="experience-details__description-text" [innerHTML]="experience.description"></div>
            <div class="experience-details__description-stack">
              @for (skill of experience.stack; track skill) {
                <div class="experience-details__description-stack-skill">
                  {{skill}}
                </div>
              }
            </div>
          </div>
        </details>
      }
    }
  </div>
  