:host {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.sdg-home {
    flex: 1 1 auto;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    gap: 20px;
    position: relative;
    justify-items: center;
    padding: 30px 12px;

    &__animation {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }

    &__main {
        height: calc(90vh - 50px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 0.8;
        gap: 20px;
        z-index: 1;

        &-title {
            flex: 1 1 auto;
            display: flex;
            align-items: flex-end;
            text-align: center;
            font-size: 7vw;
            letter-spacing: 2.2px;
            animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            color: var(--sdg-color-2);
            transition: color 200ms linear;
        }

        &-sub-title {
            text-align: center;
            font-size: max(2vw, 16px);
            letter-spacing: 2.2px;
            animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            color: var(--sdg-color-4);
            transition: color 200ms linear;
        }

        &-action {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: 50px;

            .container-button {
                animation: spaceInUp 1.5s;


                &:hover {
                    cursor: pointer;
                }

                .mouse-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 20px;
                    height: 40px;
                    border: 2px solid var(--sdg-color-3);
                    border-radius: 20px;
                }

                .mouse-scroll {
                    width: 10px;
                    height: 10px;
                    background-color: var(--sdg-color-3);
                    border-radius: 50%;
                    animation: scrolling 1s linear infinite;

                }

                @keyframes scrolling {
                    0% {
                        opacity: 0;
                        transform: translateY(-10px);
                    }

                    100% {
                        opacity: 1;
                        transform: translateY(10px);
                    }
                }


                @keyframes spaceInUp {
                    0% {
                        opacity: 0;
                        transform-origin: 50% 0%;
                        transform: scale(0.2) translate(0%, -200%);
                    }

                    100% {
                        opacity: 1;
                        transform-origin: 50% 0%;
                        transform: scale(1) translate(0%, 0%);
                    }
                }


            }

        }
    }

    &__start-navigation {
        padding-top: 100px;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;

        >*:not(sdg-contact) {
            width: 100%;
            min-height: 80vh;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        filter: blur(0px);
        opacity: 1;
    }
}