<div class="sdg-home" id="home">

    <!-- <div class="sdg-home__animation">

    </div> -->

    <div class="sdg-home__main">
        <div class="sdg-home__main-title">SALVATORE DI GENUA</div>
        <div class="sdg-home__main-sub-title">WEB DEVELOPER</div>

        <div class="sdg-home__main-action">
            <div class="container-button" (click)="scrollToElement('skills')">
                <span class="mouse-btn">
                    <span class="mouse-scroll"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="sdg-home__start-navigation">
        @defer (on viewport) {
            <sdg-skills id="skills" />
        } @placeholder {
            <div id="skills">SKILLS</div>
        }

        @defer (on viewport){
            <sdg-experience id="experience" />
        } @placeholder {
            <div id="experience">EXPERIENCE</div>
        }

        @defer (on viewport){
            <sdg-contact id="contact" />
        } @placeholder {
            <div id="contact">CONTACT</div>
        }
    </div>
</div>