<div class="sdg-home">
    <div class="sdg-home__three-animation"></div>
    <div class="sdg-home__main">
        <div class="sdg-home__main-title">Salvatore Di Genua</div>
        <div class="sdg-home__main-sub-title">Web Developer</div>
    </div>
     <div class="sdg-home__call-to-action" id="pippo1">
        <!-- <button (click)="scroll('pippo2')">content down</button> -->
    </div>

    <!--<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div style="height: 500px; z-index: 1;" id="pippo2">
        <button (click)="scroll('pippo1')">content up</button>
    </div> -->
</div>
